<div class="col-md-3 bordered">
    <div class="theme">
        <h6>Тема отеля</h6>
        <input type="checkbox" id="center" data-ng-model="theme.center" data-ng-checked="false"><label for="center"> Отель в центре города </label>
        <input type="checkbox" id="design" data-ng-model="theme.design" data-ng-checked="false"><label for="design"> Дизайнерский отель </label>
        <input type="checkbox" id="wellness" data-ng-model="theme.wellness" data-ng-checked="false"><label for="wellness"> Велнес-отель </label>
    </div>
    <div class="type">
        <h6>Тип размещения</h6>
        <input type="checkbox" id="hotel" data-ng-model="type.hotel" data-ng-checked="false"><label for="hotel"> Отель </label>
        <input type="checkbox" id="guest" data-ng-model="type.guest" data-ng-checked="false"><label for="guest"> Апарт-отель/Гостевой дом </label>
        <input type="checkbox" id="apartment" data-ng-model="type.apartment" data-ng-checked="false"><label for="apartment"> Коттедж/Апартаменты </label>
        <input type="checkbox" id="hostel" data-ng-model="type.hostel" data-ng-checked="false"><label for="hostel"> Хостел </label>
        <input type="checkbox" id="bb" data-ng-model="type.bb" data-ng-checked="false"><label for="bb"> B&B </label>
    </div>
    <div class="equipment">
        <h6>Оснащение номера</h6>
        <input type="checkbox" id="tv" data-ng-model="equipment.tv" data-ng-checked="false"><label for="tv"> Телевизор </label>
        <input type="checkbox" id="shower" data-ng-model="equipment.shower" data-ng-checked="false"><label for="shower"> Душевая кабинка </label>
        <input type="checkbox" id="internet" data-ng-model="equipment.internet" data-ng-checked="false"><label for="internet"> Интернет </label>
        <input type="checkbox" id="wifi" data-ng-model="equipment.wifi" data-ng-checked="false"><label for="wifi"> Wi-fi в номере </label>
        <input type="checkbox" id="hairdryer" data-ng-model="equipment.hairdryer" data-ng-checked="false"><label for="hairdryer"> Фен </label>
        <input type="checkbox" id="phone" data-ng-model="equipment.phone" data-ng-checked="false"><label for="phone"> Телефон </label>
        <input type="checkbox" id="sattv" data-ng-model="equipment.sattv" data-ng-checked="false"><label for="sattv"> Спутниковое ТВ </label>
        <input type="checkbox" id="cabletv" data-ng-model="equipment.cabletv" data-ng-checked="false"><label for="cabletv"> Кабельное ТВ </label>
        <input type="checkbox" id="bathtub" data-ng-model="equipment.bathtub" data-ng-checked="false"><label for="bathtub"> Ванна </label>
        <input type="checkbox" id="conditioner" data-ng-model="equipment.conditioner" data-ng-checked="false"><label for="conditioner"> Кондиционер </label>
        <input type="checkbox" id="safe" data-ng-model="equipment.safe" data-ng-checked="false"><label for="safe"> Сейф </label>
        <input type="checkbox" id="refrigerator" data-ng-model="equipment.refrigerator" data-ng-checked="false"><label for="refrigerator"> Холодильник </label>
        <input type="checkbox" id="minibar" data-ng-model="equipment.minibar" data-ng-checked="false"><label for="minibar"> Мини бар </label>
    </div>
    <br>
    <button class="btn btn-sm btn-info">Применить</button>
    <br>
    <br>
</div>