<div class="col-md-2">
    <div class="blog_list2">
        <h3>Our Agents</h3>
        <ul class="blog-list3 list_1">
            <li class="blog-list3-img"><img src="/assets/images/pic12.jpg" class="img-responsive" alt=""/></li>
            <li class="blog-list3-desc">
                <h4><a href="#">Adipisicing</a></h4>
                <ul class="admin_desc">
                    <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                        <p class="m_2">20-1257-2587</p></li>
                    <div class="clearfix"> </div>
                    <li class="list_top"><i class="fa fa-envelope ph"> </i>
                        <p class="m_2"></p></li>
                    <div class="clearfix"> </div>
                </ul>
            </li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="blog-list3 list_1">
            <li class="blog-list3-img"><img src="/assets/images/pic13.jpg" class="img-responsive" alt=""/></li>
            <li class="blog-list3-desc">
                <h4><a href="#">Incididunt</a></h4>
                <ul class="admin_desc">
                    <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                        <p class="m_2">20-1257-2587</p></li>
                    <div class="clearfix"> </div>
                    <li class="list_top"><i class="fa fa-envelope ph"> </i>
                        <p class="m_2"><a href="">mail(at)realist.com</a></p></li>
                    <div class="clearfix"> </div>
                </ul>
            </li>
            <div class="clearfix"> </div>
        </ul>
        <ul class="blog-list3">
            <li class="blog-list3-img"><img src="/assets/images/pic7.jpg" class="img-responsive" alt=""/></li>
            <li class="blog-list3-desc">
                <h4><a href="#">Hampden-Sydney</a></h4>
                <ul class="admin_desc">
                    <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                        <p class="m_2">20-1257-2587</p></li>
                    <div class="clearfix"> </div>
                    <li class="list_top"><i class="fa fa-envelope ph"> </i>
                        <p class="m_2"></p></li>
                    <div class="clearfix"> </div>
                </ul>
            </li>
            <div class="clearfix"> </div>
        </ul>
    </div>
</div>