<script src="http://mymaplist.com/js/vendor/TweenLite.min.js"></script>
<!-- This is a very simple parallax effect achieved by simple CSS 3 multiple backgrounds, made by http://twitter.com/msurguy -->

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create your account</h3>
                </div>
                <div class="panel-body">
                    <!--<form id="SignInForm" ng-controller="LoginCtrl as vm" name="SignInForm"-->
                    <!--class="form-horizontal" role="form" ng-submit="vm.signIn(credential)">-->
                    <fieldset>
                        <!--<div class="form-group">-->
                        <!--<input class="form-control" placeholder="E-mail" name="login"-->
                        <!--ng-model="credential.login" type="text">-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--<input class="form-control" placeholder="Password" name="password"-->
                        <!--ng-model="credential.password" type="password">-->
                        <!--</div>-->
                        <!--<div class="checkbox">-->
                        <!--<label>-->
                        <!--<input name="remember" type="checkbox" value="Remember Me"> Remember Me-->
                        <!--</label>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;adding registration forms&ndash;&gt;-->
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="FirstName..."/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="SecondName..."/>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email..."/>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <input type="radio" name="sex" value="male" checked/> Male
                                    <input type="radio" name="sex" value="female" checked/> Female
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    <select class="form-control">
                                        <optgroup label="Uzbekistan">
                                            <option value="uzbekistan">Uzbekistan</option>
                                            <option value="khorezm">Khorezm</option>
                                            <option value="tashkent">Tashkent</option>
                                            <option value="samarkand">Samarkand</option>
                                            <option value="fergana">Fergana</option>
                                            <option value="andijan">Andijan</option>
                                            <option value="namangan">Namangan</option>
                                            <option value="qarshi">Qarshi</option>
                                            <option value="termiz">Termiz</option>
                                            <option value="bukhara">Bukhara</option>
                                            <option value="navoi">Novoi</option>
                                            <option value="nukus">Nukus</option>
                                            <option value="djizzax">Djizzax</option>
                                        </optgroup>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="login..."/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="password..."/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="confirmPassword..."/>
                        </div>

                        <!--adding registration forms-->
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Sign Up">
                    </fieldset>
                    </form>
                </div>
                <div class="panel-footer text-center">By clicking on 'Sign Up' above, you confirm that you accept the <a
                        href="#">Terms of Use</a></div>
            </div>
        </div>
    </div>
</div>