<div class="about_top">
    <div class="container">
        <!--newChanges-->
        <div class="row">
            <div class="col-xs-9">
                <div class="well">
                <h3>
                    DoubleTree by Name Hotel BeatifulCitie's of Uzbekistan
                    <i class="text-danger glyphicon glyphicon-star"></i>
                    <i class="text-danger glyphicon glyphicon-star"></i>
                    <i class="text-danger glyphicon glyphicon-star"></i>
                    <i class="text-danger glyphicon glyphicon-star"></i>
                    <i class="text-danger glyphicon glyphicon-star-empty"></i>
                </h3>
                <p>NameOfStreet,SomeCity,Uzbekistan,2211 1542 2148 6987</p>
                </div>
                    <br/>
                <div class="standards">
                    <ul class="selectors_wrapper">
                        <li class="selector active" data-selector="1">Picture</li>
                        <li class="selector" data-selector="2">Location</li>
                        <li class="selector" data-selector="3">Video</li>
                    </ul>
                    <div class="standard_content" style="height: 439px;">
                        <div class="standard active" data-selector="1">
                            <ul class="single_grid">
                                <li><img src="/assets/images/s2.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s3.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s4.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s5.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s6.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s7.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s8.jpg" class="img-responsive" alt=""/></li>
                                <li><img src="/assets/images/s9.jpg" class="img-responsive" alt=""/></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </div>
                        <div class="standard" data-selector="2">
                            <div class="map1">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3150859.767904157!2d-96.62081048651531!3d39.536794757966845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1408111832978"> </iframe>
                            </div>
                        </div>
                        <div class="standard video" data-selector="3">
                            <iframe width="100%" height="350" src="https://www.youtube.com/embed/lSXGxOiRp7A" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <h4 class="text-success"><b><i class="glyphicon glyphicon-ok-sign"></i> Free Wifi</b></h4>
                <hr/>
                <div class="row well">
                    <div class="col-xs-4">
                        <i class="glyphicon glyphicon-th"></i>
                        <b>Main amenities</b>
                        <br/>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Lorem ipsum dolor.</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Molestiae quas, recusandae.</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> At eveniet, magnam?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Blanditiis nihil, unde?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Asperiores, magni, sapiente?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Beatae, similique, temporibus?</b></h6>
                    </div>
                    <div class="col-xs-4">
                        <br/>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Lorem ipsum dolor.</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Molestiae quas, recusandae.</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> At eveniet, magnam?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Blanditiis nihil, unde?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Asperiores, magni, sapiente?</b></h6>
                        <h6><i class="glyphicon glyphicon-ok text-success"></i><b> Beatae, similique, temporibus?</b></h6>
                    </div>
                    <div class="col-xs-4">
                        <i class="glyphicon glyphicon-home"></i>
                        <b> What's around</b>
                        <br/>
                        <ul>
                            <li>Lorem ipsum dolor.</li>
                            <li>Ab, harum, perspiciatis?</li>
                            <li>Ducimus fuga, magnam!</li>
                            <li>Accusantium, placeat, sequi?</li>
                            <li>Mollitia soluta, voluptatem.</li>
                            <li>Et, illum, nemo.</li>
                            <li>Et, illum, nemo.</li>
                        </ul>
                    </div>
                </div>
                <ul class="single_box">
                    <li><i class="fa fa-building-o icon1"> </i> 2 Rooms </li>
                    <li><i class="fa fa-retweet icon1"> </i> 1 Bathroom</li>
                    <li><i class="fa fa-plane icon1"> </i> 1 Garage</li>
                </ul>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                <p class="single_desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>

            </div>
            <div class="col-xs-3">
                <div class="panel panel-success">
                    <div class="panel-heading"><h3><i class="glyphicon glyphicon-tag"></i><b> Special dial</b></h3></div>
                    <div class="panel-body">
                        <div class="text-right">
                            <h3><del>$150</del> <i class="text-danger">$111</i></h3>
                            <h5>price for night</h5>
                            <h5>including taxes & fees</h5>
                            <button class="btn btn-primary"><b>Book Now</b></button>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <h4 class="text-primary text-right">
                            Best Price Guarantee
                            <i class="glyphicon glyphicon-ok"></i>
                        </h4>
                    </div>
                </div>
                <a href="#">
                <img src="/assets/images/map.jpg" alt="map" class="img-responsive img-rounded"/>
                </a>
                <br/>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><i>Excellent</i> <b class="text-right">4.5 </b><i> /5</i></h3>
                    </div>
                    <div class="panel-body">
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <i>"Lorem ipsum dolor sit amet, consectetur adipisicing..."</i>
                        <h6 class="text-right"><b>June 27, 2015 </b></h6>
                        <br/>
                        <i class="glyphicon glyphicon-info-sign"></i>
                        <i>"Lorem ipsum dolor sit amet, consectetur adipisicing..."</i>
                        <h6 class="text-right"><b>June 25, 2015 </b></h6>
                        <br/>
                        <a href="#"><h6>See all 99 UzHotels.uz reviews</h6></a>
                    </div>
                    <div class="panel-footer">
                        <a href="#"><i class="glyphicon glyphicon-envelope"> </i> <b> Email </b></a>
                        <a href="#"><i class="glyphicon glyphicon-share"> </i> <b> Share </b></a>
                        <a href="#"><i class="glyphicon glyphicon-save"> </i> <b> Save </b></a>
                    </div>
                </div>
                <div class="panel panel-info">
                    <div class="panel-heading"><h3><b>UzHotels Rewards</b></h3></div>
                    <div class="panel-body">
                        <h6 class="text-info">You'll collect 1 night with stay</h6>
                        <h6><b>Remember collect 10 nights, get 1 free*</b></h6>
                    </div>
                </div>
                <div class="blog_list2">
                    <h3>Our Agents</h3>
                    <ul class="blog-list3 list_1">
                        <li class="blog-list3-img"><img src="/assets/images/pic12.jpg" class="img-responsive" alt=""></li>
                        <li class="blog-list3-desc">
                            <h4><a href="#">Adipisicing</a></h4>
                            <ul class="admin_desc">
                                <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                                    <p class="m_2">20-1257-2587</p></li>
                                <div class="clearfix"> </div>
                                <li class="list_top"><i class="fa fa-envelope ph"> </i>
                                    <p class="m_2"><a href="malito:mail@demolink.org">mail(at)realist.com</a></p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="blog-list3 list_1">
                        <li class="blog-list3-img"><img src="/assets/images/pic13.jpg" class="img-responsive" alt=""></li>
                        <li class="blog-list3-desc">
                            <h4><a href="#">Incididunt</a></h4>
                            <ul class="admin_desc">
                                <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                                    <p class="m_2">20-1257-2587</p></li>
                                <div class="clearfix"> </div>
                                <li class="list_top"><i class="fa fa-envelope ph"> </i>
                                    <p class="m_2"><a href="malito:mail@demolink.org">mail(at)realist.com</a></p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                    <ul class="blog-list3">
                        <li class="blog-list3-img"><img src="/assets/images/pic7.jpg" class="img-responsive" alt=""></li>
                        <li class="blog-list3-desc">
                            <h4><a href="#">Hampden-Sydney</a></h4>
                            <ul class="admin_desc">
                                <li class="list_top"><i class="fa fa-phone-square ph"> </i>
                                    <p class="m_2">20-1257-2587</p></li>
                                <div class="clearfix"> </div>
                                <li class="list_top"><i class="fa fa-envelope ph"> </i>
                                    <p class="m_2"><a href="malito:mail@demolink.org">mail(at)realist.com</a></p></li>
                                <div class="clearfix"> </div>
                            </ul>
                        </li>
                        <div class="clearfix"> </div>
                    </ul>
                </div>
            </div>
        </div>
        <!--newChanges-->

		<!--<div class="col-md-9 single_box1"></div>-->
		<!--<div class="clearfix"></div>-->
        <!--table-->

        <!--table-->
		<div class="about_grid1">
        	<h3>Our Advantages</h3>
        	<div class="col-md-4">
        		<div class="list styled custom-list">
				  <ul>
					 <li><span class="dropcap">01 / </span>  
					   <div class="about_desc">
					 	<h5><a href="#">The standard chunk of Lorem Ipsum used since the 1500s</a></h5>
					 	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					   </div>
					 </li>
				  </ul>
				</div>
        	</div>
        	<div class="col-md-4">
        		<div class="list styled custom-list">
				  <ul>
					 <li><span class="dropcap">02 / </span>  
					   <div class="about_desc">
					 	<h5><a href="#">The standard chunk of Lorem Ipsum used since the 1500s</a></h5>
					 	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					   </div>
					 </li>
				  </ul>
				</div>
        	</div>
        	<div class="col-md-4">
        		<div class="list styled custom-list">
				  <ul>
					 <li><span class="dropcap">03 / </span>  
					   <div class="about_desc">
					 	<h5><a href="#">The standard chunk of Lorem Ipsum used since the 1500s</a></h5>
					 	<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
					   </div>
					 </li>
				  </ul>
				</div>
        	</div>
        	<div class="clearfix"> </div>
        </div>
        <div class="about_grid2">
        	<h3>Our Staff</h3>
        	<div class="col-md-3 about_box2">
        		<img src="/assets/images/a1.jpg" class="img-responsive" alt=""/>
        		<h3>suffered </h3>
        		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it</p>
        	</div>
        	<div class="col-md-3 about_box2">
        		<img src="/assets/images/a2.jpg" class="img-responsive" alt=""/>
        		<h3>suffered </h3>
        		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it</p>
        	</div>
        	<div class="col-md-3 about_box2">
        		<img src="/assets/images/a3.jpg" class="img-responsive" alt=""/>
        		<h3>suffered </h3>
        		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it</p>
        	</div>
        	<div class="col-md-3 about_box2">
        		<img src="/assets/images/a4.jpg" class="img-responsive" alt=""/>
        		<h3>suffered </h3>
        		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it</p>
        	</div>
        	<div class="clearfix"> </div>
        </div>
	</div>
</div>